<p>
This page is associated with Philosophy 112. The <a href="/112">main
course webpage for Philosophy 112</a> is on Reggienet.
</p>

<p>Here, you can find</p>
<ul>
<li>a copy of the <a href="syllabus.html">course syllabus</a>,</li>
<li>the <a href="assignments.html">schedule of readings and assignments</a>,</li>
<li><a href="flashcards">Flashcards</a> to help memorize key concepts and rules</li>
</ul>
<p>and the following interactive supplements to the textbook:<a href="#fn1" class="footnoteRef" id="fnref1"><sup>1</sup></a></p>

<ul>
    $for(posts)$
        <li>
            <a href="$url$">$title$</a>
        </li>
    $endfor$
</ul>

<div class="footnotes">
<hr style="display:block"/>
<ol>
<li id="fn1"><p>These are designed to be used along with David Kaplan's <a href="http://logiclx.humnet.ucla.edu/">Logic 2010</a> and Terry Parsons' <em>An Exposition to Symbolic Logic</em> (i.e., the &quot;Logic Text&quot; that is included with the Logic 2010 software).<a href="#fnref1">↩</a></p></li>
</ol>
</div>


